<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="edu.gatech.seclass.tourneymanager">

    <application
        android:name=".TourneyManagerApp"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".ModeSelectActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".ManagerModeActivity" />
        <activity android:name=".CreateTourneyActivity" />
        <activity android:name=".ManagePlayersActivity" />
        <activity android:name=".PlayerInfoActivity" />
        <activity android:name=".PrizeInfoActivity" />
        <activity android:name=".PlayerTotalsActivity" />
        <activity android:name=".TourneyTotalsActivity" />
        <activity android:name=".RoundsListActivity" />
        <activity android:name=".RoundInfoActivity" />
        <activity android:name=".MatchInfoActivity" />
        <activity android:name=".PlayerModeActivity"></activity>
    </application>

</manifest>